body { 
    /* The image used */
    background: rgba(255, 239, 213, 0.2);   
    margin: 0;
    color: white;
}

.nav-bar
{
    background: rgba(0, 255, 127, 0.5);
    color: white;
    height: 56px;
    display: flex;
    align-items: center;
}

.nav-bar-menu-button
{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: transparent;
    border: transparent;
    cursor: pointer;
    color: white;
    padding: 8px;
    margin: 8px 4px;
    outline: none;
}

.nav-bar-menu-button:hover{
    background:rgba(0, 255, 127, 1);
    border: none;
}

.nav-bar-header
{
    font-family: Arial, 'Helvetica', sans-serif;
    font-size: 22px;
    margin: 0px 12px;
}

.nav-bar-header span
{
    color: darkgreen
}

.nav-bar-menu-button svg
{
    fill: white;
}

.slide-nav-bar-active
{
    background: rgba(255, 239, 213, 0.3);
    width: 280px;
    height: calc(100vh - 56px);
    border-right: 2px solid rgba(255, 239, 213, 1);
    position: absolute;
    left: 0px;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.slide-nav-bar
{
    background: rgba(255, 239, 213, 0.3);
    width: 280px;
    height: calc(100vh - 56px);
    border-right: 2px solid rgba(255, 239, 213, 1);
    position: absolute;
    left: -282px;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(1, 0, 0, 1);
}

.menu-item
{
    height: 36px;
    background: transparent;
    padding: 4px 12px;
}

.menu-item-text
{
    color: rgba(50, 50,  50, 1);
    font-family: Arial, 'Helvetica', sans-serif;
    font-size: 14px;
    line-height: 36px;
    font-weight: 700;
}

.menu-item:hover
{
    background:  rgba(255, 239, 213, 1);
}

.menu-item-text:hover
{
    color: #222222;
}
